/* Global */
:root {
  /* color */
  --color-beige: rgb(148, 131, 121);
  --color-light-white: rgb(233, 222, 216);
  --color-graybeige: rgb(194, 187, 183);
  --color-black: #000;
  --color-dark-grey: rgb(146, 145, 143);
  --color-logo: rgb(248, 247, 246);
  --color-nav-blackbrown: rgb(49, 43, 37);

  /* font size */
  --font-large: 48px;
  --font-medium: 20px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-mocro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
}

/* universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typogarphy */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-beige);
  align-items: center;
  color: var(--color-light-white);
  padding: 16px;
}

.fa-lightbulb {
  color: var(--color-logo);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu_item.active {
  border: 1px dashed var(--color-light-white);
}

.navbar__menu_item:hover {
  background-color: var(--color-nav-blackbrown);
}

/* Home */
#home {
  background: url("imgs/home_background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 150px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__description,
.home__title {
  color: var(--color-nav-blackbrown);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-nav-blackbrown);
  border-radius: var(--size-border-radius);
}
