/* Global */
:root {
  /* color */
  --color-beige: rgb(148, 131, 121);
  --color-light-white: rgb(233, 222, 216);
  --color-graybeige: rgb(194, 187, 183);
  --color-black: #000;
  --color-dark-grey: rgb(146, 145, 143);
  --color-logo: rgb(248, 247, 246);
  --color-nav-blackbrown: rgb(49, 43, 37);
  --color-vintage-beige: #f2ecda;
  --color-vintage-pink: #d39eb0;
  --color-vintage-purple: #c6b6c3;
  --color-dimgray: #696969;
  --color-gray: #424242;
  --color-darkgray: #323232;
  --color-more-gray: #494949;
  --color-white: #e9e9e9;

  /* font size */
  --font-large: 48px;
  --font-medium: 20px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-mocro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* Annimation */
  --annimation-duration: 300ms;
}

/* universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typogarphy */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-beige);
  align-items: center;
  color: var(--color-light-white);
  padding: 16px;
}

.fa-lightbulb {
  color: var(--color-logo);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu_item.active {
  border: 1px dashed var(--color-light-white);
}

.navbar__menu_item:hover {
  background-color: var(--color-nav-blackbrown);
}

/* Home */
#home {
  background: url("imgs/home_background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 150px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__description,
.home__title {
  color: var(--color-nav-blackbrown);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-nav-blackbrown);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border: 1px solid var(--color-nav-blackbrown);
  color: var(--color-nav-blackbrown);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--annimation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-beige);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job img {
  width: 245px;
}

.job__name,
.job__period {
  color: var(--color-dark-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-mocro);
}

/* skill */
#skills {
  background-color: var(--color-vintage-beige);
}

.skillset {
  display: flex;
  background-color: var(--color-dimgray);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-darkgray);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: gray;
}

.skill__value {
  height: 3px;
  background-color: orange;
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-more-gray);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dimgray);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-nav-blackbrown);
  color: var(--color-light-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-vintage-purple);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  margin-left: 5px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--annimation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  width: 300px;
  height: 500px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all var(--annimation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-light-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-vintage-purple);
}
